CONFIG_INPUT_EVDEV=m

# CONFIG_HVC_XEN is not set
# CONFIG_DEVPORT is not set
CONFIG_HPET_MMAP=y
CONFIG_HPET_MMAP_DEFAULT=y
# CONFIG_TCG_NSC is not set
# CONFIG_TCG_ATMEL is not set
# CONFIG_TCG_INFINEON is not set
# CONFIG_TCG_VTPM_PROXY is not set

# CONFIG_BATTERY_SAMSUNG_SDI is not set
# CONFIG_BATTERY_BQ27XXX is not set

# CONFIG_VGA_SWITCHEROO is not set
